#data{
    padding-top: 10px;
    min-width: 760px;
    margin: 20px 5%;
    /* text-align: center; */
    border: 1px solid #868686;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.02);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data button{
    margin: 15px 0;
    padding: 10px 32px;
	
}

#equations, #variables{
    width: 60px;
    margin: 35px auto;
}
#for-equations{
    float: left;
    margin-left: 250px;
}
#for-variables{
    float: right;
    margin-right: 250px;
}
#data table{
	margin: 0 auto;
}
#data .save-button{
    position: absolute;
    bottom: 0px;
    right: 15px;
}
#data .alert input{
    width: 200px;
    text-align: left;
}