<!-- <div id="data"> -->
	<h3>Система обмежень.</h3>
	
	<div class="input-limitations">
		<table class="matrix-a">
			<tr ng-repeat="row in A">
				<td ng-repeat="variable in row">
					<input type="text" ng-model="variable.value" m-format/><span>{{variable.name}}<sub>{{variable.index + 1}}</sub></span>
				</td>
			</tr>
		</table>
		<table class="signs">
			<tr ng-repeat="sign in signs">
				<td>
					<select ng-model="sign.value">
						<option ng-repeat="availableSign in availableSigns" ng-value="availableSign">{{availableSign}}</option>
					</select>
				</td>
			</tr>
		</table>
		<table class="matrix-b">
			<tr ng-repeat="element in B track by $index">
				<td>
					<input ng-model="B[$index]" m-format/>
				</td>
			</tr>
		</table>
	</div>

	<div class="conditions-inseparable">
		<table>
			<tr>
				<td ng-repeat="condition in notNegativeConditions">
					<span>{{fx[$index].name}}</span><sub>{{fx[$index].index + 1}}</sub>
					<select ng-model="condition.value" ng-options="availableCondition.value as availableCondition.label for availableCondition in availableConditions"></select>
				</td>
			</tr>
		</table>
	</div>

	<h3>Функція цілі.</h3>

	<div class="function">
		<table>
			<tr>
				<td ng-repeat="variable in fx">
					<input ng-model="variable.value" m-format/><span>{{variable.name}}<sub>{{variable.index}}</sub></span>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>&nbsp;→&nbsp;
				<select ng-model="extreme">
					<option ng-repeat="value in ['min', 'max']" ng-value="value">{{value}}</option>
				</select>
				</td>
			</tr>
		</table>
	</div>

	<button ng-click="next()">Далі</button>
<!-- </div> -->