<div>
    <div>
        <label>Кількість обмежень</label>
        <select ng-model="m">
			<option ng-repeat="value in [2, 3, 4 ,5, 6, 7, 8, 9]" ng-value="value">{{value}}</option>
        </select>
    </div>
    <div>
        <label>Кількість змінних</label>
        <select ng-model="n">
            <option ng-repeat="value in [2, 3, 4 ,5, 6, 7, 8, 9]" ng-value="value">{{value}}</option>
        </select>
    </div>
    <button ng-click="next()" ui-sref="editable">Далі</button>
</div>